.Home .lander {
  padding: 80px 0;
  text-align: left;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color:#000;
}

.Home .lander p {
  color:#000;
  font-weight: 700;
}
.Home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  color:#000;
}
.Home .notes p {
  color: #666;
}