.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
  margin-top:-10px;
}

body{
  background-image: url(./assets/img/clouds.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  height:1500px;
}